:root {
  --primary: #3CC78F;
  --primary-dark: #2ea876;
  --secondary: #e6f7f1;
}

.team_filters {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.team_filters a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  background: #fff;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.team_filters a:hover,
.team_filters a.active {
  background: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

/* SECTION */
.team_section {
  padding: 80px 0;
  background: var(--secondary);
  text-align: center;
}

/* CONTAINER */
.team_container {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 30px 50px;
}

/* SLIDER */
.team_slider {
  display: flex;
  gap: 35px;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-bottom: 90px;
}

/* CARD */
.team_card {
  flex: 0 0 calc(33.333% - 20px);
  position: relative;
  border-radius: 12px;
  overflow: visible;
  transition: 0.3s;
}

.team_card.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* IMAGE */
.team_card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.team_card:hover .team_info p {
  color: #e6f7f1;
}

.team_card:hover .team_info h4 {
  color: #fff;
}

.team_card:hover .socials i {
  color: #fff;
}

.team_card:hover .socials i:hover {
  color: #e6f7f1;
}

/* Team info */
.team_info {
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
  z-index: 3;
  transition: all 0.4s ease;
  border: 1px solid transparent;
}

/* HOVER EFFECT */
.team_card:hover .team_info {
  transform: translateX(-50%) translateY(-8px);
  background: #3CC78F;
  color: #fff;
  box-shadow: 0 18px 40px rgba(0,0,0,0.18);
  border-color: #3CC78F;
}

/* TEXT */
.team_info h4 {
  margin: 0;
  font-size: 17px;
}

.team_info p {
  margin: 6px 0;
  font-size: 14px;
  color: #777;
}

/* SOCIAL */
.socials i {
  margin: 0 6px;
  cursor: pointer;
  transition: 0.3s;
}

.socials i:hover {
  color: var(--primary);
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
  z-index: 10; /* FIX: always above */
}

.arrow:hover {
  background: var(--primary);
  color: #fff;
}

.arrow.left {
  left: 0; /* FIX: no more hidden */
}

.arrow.right {
  right: 0;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .team_card {
    flex: 0 0 calc(50% - 15px);
  }

  .team_card img {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .team_card {
    flex: 0 0 100%;
  }

  .team_card img {
    height: 360px;
  }
}